/***
The best diabetes community on the Internet

styling by Sippin_Haterade

COLOR PALETTE

    #5686c3
    #ecf0f1
    #3B679E
    #c0392b
    #962d22

***/

/*
TABLE OF CONTENTS:
    BASIC LAYOUT

    HEADER
        Header
        Tab Menu

    POSTS FEED

    SIDEBAR
        Search Bar
        Submit Buttons
        Example Flair
        Section Headers
        A1C Conversion Table

    INDIVIDUAL POSTS

    WIKI PAGE

    SUBMIT PAGE

    MISCELLANEOUS
        FLAIR
        ANNOUNCEMENTS
        CHALLENGE STYLING

*/










/******************************
         BASIC LAYOUT
*******************************/

body { background: #fff  !important;}

.content {
    margin-left: 0;
    margin-top: 95px;
    margin-right: 310px;
}

ul { padding-left: 30px !important; }
a {
    text-decoration: none;
    color: #3B679E;
}

/* Hide Message to Logged Out Users */
.infobar.welcome{ display:none; }

/*TODO: Consider keeping ads, they support reddit!; */
/* Remove Advertisements */
.promotedlink,
#ad-frame {
    display: none;
}















/*****************************
******************************
***********        ***********
            HEADER
***********        ***********
******************************
*****************************/



/******************************
           HEADER
*******************************/

#sr-header-area { /* Subreddit Toolbar at Top of Page */
    background-color: white;
    color: red !important;
}

#header {
    height:150px;
    background-color: #5686c3;
    border-color: darkblue;
    background-image:url(%%obvious%%);
    background-position: 50% 20px;
    background-repeat: no-repeat;
}
    #header-img {
        margin-left:10px;
        opacity: 0.8;
    }
    #header-img:hover{
        opacity: 1;
    }
#header-bottom-left{
    margin-top: 5px;
}
    /* Subbreddit Name */
    .pagename {
      position: absolute;
      top: 50px;
    }
        .pagename a {
            color: #2f5484;
            font-weight: normal;
            text-align: center;
            font: 45px "Helvetica Neue",Helvetica,Arial,sans-serif
        }
        .pagename a:hover {
            color: #366097;
            text-decoration: none;
        }
        .pagename a:before{
            content: "/r/";
            text-transform: none;
        }
        .pagename:after {
            content:'"Only 10 more years until a cure!"';
            color: #2f5484;
            width: 350px;
            position: absolute;
            bottom: -10px;
            left: 0px;
            font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

/*Username Toolbar*/
#header-bottom-right,
#header-bottom-right a,
#header-bottom-right span.separator {
    background-color: #5686c3;
    color: white;
    font-weight: bold;
}
span.user  {
    color: lightblue;
}
#userbarToggle.userbarHide {
    color: lightblue;
    background-color: #6A9AD7;
}



/*******************************
             MENU
*******************************/

/* Hide the least used menu buttons */
.tabmenu #viewImagesButton,
.tabmenu li a[href*="rising"],
.tabmenu li a[href*="ads"],
.tabmenu li a[href*="gilded"],
.tabmenu li a[href*="controversial"] {
    display: none;
}

.tabmenu {
    display: block;
    position: absolute;
    top: 145px;
    right:0;
    left: 0;
    padding: 0 0 0 3px;
    text-align: left;
    background-color: #F7F7FA;
    border-bottom: 1px solid #dadada;
    color: #c0392b;
    list-style-type: none;
    vertical-align: bottom;
    white-space: nowrap;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    min-width: 450px;
}

    .tabmenu li {
        display: inline-block;
        margin: 0px !important;
        border: none;
    }
        .tabmenu li a {
            display: block;
            padding: 15px 25px;
            transition: 0.4s;
            border: none;
            border-bottom: 3px solid transparent;
            background: #F7F7FA;
            color: #A8A8AD;
        }
        .tabmenu li a:hover {
            color: #c0392b;
            border-bottom: 3px solid #c0392b;
            background: #F7F7FA;
        }
    /* Style for selected tab */
    .tabmenu li.selected {
        border: 0 0 4px 0 solid #c0392b;
        background: #F7F7FA;
    }

    .tabmenu li.selected a {
        border: none;
        border-bottom: 3px solid #c0392b;
        background-color: #F7F7FA;
        color: #c0392b;
    }

.roundfield {
    background-color: #fff;
    border-bottom: 3px solid #d8d8d8;
    color:#707070;
    padding: 10px 10px 10px 10px;
}

    .comment .midcol {
        width: 25px
    }
    .gadget .midcol {
        width: 25px;
        margin: 0
    }

.sponsorshipbox /*TODO */ {
    max-width: 300px;
    display: none;
}

.side .submit-link { display: none; }

.md.wiki{ overflow: visible; }

.side table {
    margin: 4px 0;
    width: 100%;
}
    .side table tbody {
        display: none;
    }
    .side table:hover tbody {
        display: table-row-group;
    }
.md table{ /*TODO what is diff betwen this and .side table */
    font-size: 12px;
    padding: 0px;
}
.md td,
.md th {
    border: 1px solid #EEE;
    padding: 1px 10px;
    background-color: #5686c3;
    color: white;
}
.md tr:hover {
    background-color:#f4f4f4;
}

















/*****************************
******************************
*********            *********
          POSTS FEED
*********            *********
******************************
*****************************/

/* Posts Box */
.link {
    margin: 2px 2px 10px 0;
    padding: 15px 5px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    background-color: white;
}
    .link:hover {
        background-color: #f7f7fa;
        transition: 0.3s;
    }
    .link .title {
        font-size: 18px;
        color: #333;
    }
    .tagline, .entry .buttons li a {
        color: #bbb;
        font-weight: normal;
    }
    .flat-list { padding: 1px 0 !important }
        .buttons .first a.comments { font-weight: bold; }
    /* Hide Post Ranking */
    .rank { display: none; }

        /* Arrows */
        .arrow.up, .arrow.down,
        .arrow.downmod, .arrow.upmod {
            height: 20px;
            width: 20px;
            background-position: center;
        }
        .arrow.up,
        .arrow.down {
            background-image: url(%%neutral%%);
        }
        .arrow.upmod {
            background-image: url(%%upvote%%);
        }
        .arrow.downmod {
            background-image: url(%%downvote%%);
        }

        /* Vote Count */
        .link .score {
            color: #a1a1a1
        }
        .link .score.likes {
            color: #ad0029
        }
        .link .score.dislikes {
            color: #031ea9
        }

    /* Hide Image for Self Posts */
    .thumbnail.self { display: none; }

    /*Color of Links*/
    div.thing a.title {
        color: black;
    }
        /* Color of Visited Links */
        div.thing a.title:visited {
            color: #357EC7;
        }

/* Sticky Posts Styling */
.stickied.link {
    box-shadow: 3px 3px 0px #95D190 !important;
    -webkit-box-shadow: 3px 3px 0px #95D190 !important;
    -moz-box-shadow: 3px 3px 0px #95D190 !important;
}
    .thing.stickied a.title { color: #65b354 !important; }

/*To fix the dashed line, use:*/
.link.last-clicked {
    border: none;
}
.odd.link.last-clicked {
    border: 1px solid #e0e0e0;
}


/*TODO*/
    .flantry {
        padding-top: 5.75px
    }
/*Color of Announcements*/
a.title[href*="/announcement"] {
      color: black;
    }
    .comment .midcol {
        width: 25px
    }
    .gadget .midcol {
        width: 25px;
        margin: 0
    }















/*****************************
******************************
**********          **********
           SIDE BAR
**********          **********
******************************
*****************************/

/* Sidebar */
.side {
    margin-top: 56px;
    z-index: -100 !important;
    font-family: helvetica, arial, sans-serif;
    margin-right:10px;
    background-color: #fafafa;
    box-shadow: -1px 1px 6px #e0e0e0;
}

/* Spacers In Between Sidebar Elements */
.side.spacer { background-color: #ecf0f1  !important; }

.side .md p,
.side .md li {
    line-height: 1.5;
    font-size: 13px;
}

/* Style Headers */
.md h1, .md h2,
.md h3, .md h4,
.md h5,
.md h6 {
    font-size: medium;
    font-weight: normal;
    color: #333;
    margin-bottom: 5px;
    border: 0;
}

.titlebox .usertext .md > h1 {
    z-index: 100;
    margin: 40px -12px 5px -12px;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #366097;
    text-transform: uppercase;
    font-weight: bold !important;
}

.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333
}

/* TODO: Figure this out */
/* Post Box Around Content */
.link .usertext .md {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px
}



/*****************************
         SEARCH BAR
*****************************/

#search input[type=text] {
  z-index: 1;
  height: 30px;
  margin-bottom: 8px;
  border: 1px solid #f5f5f5;
  color: #999;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', arial, sans-serif !important;
}

/* Expansion Window */
#searchexpando.infobar {
    background: #B4D8FF !important;
    border-color: #3B679E !important;
}



/*****************************
        SUBMIT BUTTON
*****************************/
.sidebox.submit, .sidebox.create { padding: 0 10px; }
.morelink {
    height: auto !important;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #5686c3;
}
.morelink:hover {
    background: #4d78af;
    transition: 0.3s;
}
.morelink:active {
    background: #3B679E;
    transition: 0.1s;
}
    .morelink a {
        display: block;
        padding: 10px 0;
        font: bold 1.3em "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #2f5484;
    }
    .morelink a:hover, .morelink a:active {
        color: #2f5484;
    }


/* Default Submit button has an arrow on the end of it */
.morelink .nub { display: none; }



/*****************************
        EXAMPLE FLAIR
*****************************/

/*Main Sidebar Box*/
.titlebox {
    padding: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fafafa;
    color: black;
}
    .titlebox form.toggle { background-color: transparent; }

    .titlebox .bottom {
        border: 1px 0 0 0 solid gray;
        padding-top: 2px;
        font-size: 80%;
        color: #ad2009;
    }
        .titlebox .bottom a {
            color: #ad2009
        }

    .titlebox .span { background-color: blue; }

    /* TODO: CHANGE THIS TO .TITLEBOX instead of .SIDE */
    .side a[href="#example"] {
        padding: 0 2px;
        border: 1px solid #ddd !important;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        background: #f5f5f5 !important ;
        font-size: 1em !important;
        font-weight: normal !important;
        color: #555 !important;
        cursor: default !important;
    }

    .titlebox h1 a {
        color: #5686c3;
        margin: 0px;
        margin-bottom: 5px;
        text-align:center !important;
        color: #707070;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 25px;
        font-family: 'Open Sans', Arial, sans-serif;
    }



/******************************
     SUBREDDIT BANNER
*******************************/

/* Disclaimer To See Doctor, Ettiquette Link, IRC, Wiki */
.titlebox .usertext-body .md h4 {
    display: block;
    position: absolute;
    top: 190px;
    left: 10px;
    right:320px;
    margin-top: .5em;
    padding: 10px 5px 10px 5px;
    font-size: 1.3em;
    color: #797979;
    font-weight:normal;
    min-width: 500px;
}
/* Inactive link */
.titlebox .usertext-body .md h4 a,
.titlebox .usertext-body .md h4 a:link,
.titlebox .usertext-body .md h4 a:visited {
    color: #CD0000
}
/* Link on hover */
.titlebox .usertext-body .md h4 a:hover {
    color: #e16666;
}

.link,
.titlebox,
.sidecontentbox,
.footer {
    box-shadow: 0px 3px 0px #DADADA;
    -webkit-box-shadow: 0px 3px 0px #DADADA;
    -moz-box-shadow: 0px 3px 0px #DADADA;
}


/*Underneath Submit & Create Community*/
.sidebox .spacer,
.icon-menu a {
    background-color: transparent
}

/* TODO */ /*Footer*/
.sidecontentbox .content,
.footer {
    border: 1px solid #E8E8E8;
    background: white;
}
/*Recently Viewed Links (Odd Links)*/
.sidecontentbox .odd {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
}

/*Link Info Box; TODO */
.linkinfo {
    border: 1px solid #e0e0e0;
    background: #f5f5f5;
}

/*Submit Page Positioning*/
form#newlink.submit.content {
    margin-top: 20px;
}

/*
Submit Page Reminder
#link-desc:after,
#text-desc:after {
    display: block;
    margin-top: 1em;
    font-weight: bold;
    content: "When posting research articles, please specify type 1 or type 2 in the title when posting. Thank you.";
}
*/

/******************************
    MODERATOR & ADMIN BOX
*******************************/

.sidecontentbox {
    background-color: white;
    padding: 7px;
}

    /*Mod & Admin Stylization*/
    .sidecontentbox .content{
        background-color: white;
        border: 1px solid #e0e0e0 !important;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
        .sidecontentbox h1 {
            color: #5686c3 !important;
            font-size: small;
            font-weight: bold;
            text-transform: none
        }
        .sidecontentbox ul.content {
            border: 0
        }
            .sidecontentbox ul.content li {
                font-size: small;
                margin-bottom: 2px
            }
        .icon-menu a {
            background-color: transparent
        }



/******************************
      COMMENTS SECTION
*******************************/

/*TODO: figure this out */
.commentarea .usertext-edit textarea:active,
.commentarea .usertext-edit textarea:focus {
    background: white;
}

/*To fix the comments from overlapping the sidebar, use:*/
.comment { overflow:hidden; }

/*Alternating Comments for non-RES (taken from r/AskScience)*/
.comment {
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    margin-left: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 8px !important;
    background-color: white !important;
    border: 1px #e0e0e0 solid !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-right: 8px !important;
    padding-bottom: 0px !important
}

.comment .comment {
    margin-right: 0px !important;
    background-color: #f5f5f5 !important;
}
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: white !important;
}
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #f5f5f5 !important;
}
.comment .child {
    margin-top: 10px;
    margin-left: 10px;
    border: none !important;
}












/******************************
      ANNOUNCEMENT STYLING
*******************************/
/*a.author[href$='/Sippin_Haterade']:after{
background: url(%%alien%%)
}*/


/*Flair for Challenge
.flair-challenge {
    background: #8EB5E8 !important;
    border-color: #1251A3 !important;
    color: #1251A3 !important;
    }*/

/*.flair-june{
  background: #c9f !important;
    border-color: #95e !important
}*/

/*Summer 2013 flair*/
.flair-summer {
    background: #9834ff!important;
    border-color: #3d225f!important;
    color: #FFFFFF!important;
}

/*Example Flair for Challenge (Sidebar)*/
.side a[href="#challenge"] {
    background: #9834ff !important;
    border-color: #3d225f !important;
    color: #FFFFFF!important;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: default !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding: 0 2px;
}

/*Highlight Box*/
.id-t3_p5i7y .keyHighlight, .id-t3_pfc5f .keyHighlight,
.id-t3_pt20w .keyHighlight, .id-t3_qcd4u .keyHighlight,
.id-t3_qm6vc .keyHighlight,
.id-t3_ryla6 .keyHighlight {
    background-color: #fbf3cf !important;
    outline: 1px dashed #FFF380 !important
    }

/*Highlight June*/
.id-t3_u34js .keyHighlight,
.id-t3_ue2xl .keyHighlight {
    background-color: white !important;
    outline: 1px dashed gray !important;
}

/*Alien Tag For Announcement Posts :Before*/
.id-t3_p5i7y a.title:before, .id-t3_pfc5f a.title:before,
.id-t3_pt20w a.title:before, .id-t3_qcd4u a.title:before,
.id-t3_qm6vc a.title:before, .id-t3_ryla6 a.title:before,
.id-t3_u34js a.title:before, .id-t3_ue2xl a.title:before,
.id-t3_utmfp a.title:before, .id-t3_v4t8v a.title:before,
.id-t3_vb7f5 a.title:before {
    color: red;
    width: 23px;
    height: 17px;
    content: url(%%alien%%);
    background-position: 0px 0px;
    display: inline-block;
}

/*Alien Tag For Announcement Posts :After*/
.id-t3_p5i7y a.title:after, .id-t3_pfc5f a.title:after,
.id-t3_pt20w a.title:after, .id-t3_qcd4u a.title:after,
.id-t3_qm6vc a.title:after, .id-t3_ryla6 a.title:after,
.id-t3_u34js a.title:after, .id-t3_ue2xl a.title:after,
.id-t3_utmfp a.title:after {
    width: 17px;
    height: 17px;
    content: url(%%alien%%);
    background-position: 0px 0px;
    display: inline-block;
}

/*Announcement Border for Posts*/
.id-t3_p5i7y, .id-t3_pfc5f,
.id-t3_pt20w, .id-t3_qcd4u,
.id-t3_qm6vc,
.id-t3_ryla6 {
    border-radius: 5px;
    background-color: #F6E69F !important;
    -moz-border-radius: 5px !important;
    border: 1px solid orange !important;
}

/*June*/
.id-t3_u34js,
.id-t3_ue2xl {
    background: #c9f !important;
    border-color: #95e !important
}

/*Title Color for Announcement Posts*/
a.title[href*="p5i7y"],a.title[href*="pfc5f"],
a.title[href*="pt20w"],a.title[href*="qcd4u"],
a.title[href*="qm6vc"],
a.title[href*="ryla6"] {
    color: #CD0000!important;
    font-weight: bold;
}

a.title[href*="u34js"],
a.title[href*="ue2xl"] {
    color: #3B679E!important;
    font-weight: bold;
}

/*To fix the dashed line, use:*/
.id-t3_p5i7y .link.last-clicked, .id-t3_u34js .link.last-clicked,
.id-t3_pfc5f .link.last-clicked, .id-t3_pt20w .link.last-clicked,
.id-t3_qcd4u .link.last-clicked, .id-t3_qm6vc .link.last-clicked,
.id-t3_ryla6 .link.last-clicked,
.id-t3_ue2xl .link.last-clicked {
    border: none;
}

/*Mod Post for Challenge*/
.green,
.id-t3_p5i7y .tagline .moderator, .id-t3_u34js .tagline .moderator,
.id-t3_pfc5f .tagline .moderator, .id-t3_pt20w .tagline .moderator,
.id-t3_qcd4u .tagline .moderator, .id-t3_qm6vc .tagline .moderator,
.id-t3_ryla6 .tagline .moderator, .id-t3_ue2xl .tagline .moderator {
    color: white;
    background-color: #228822 !important;
    font-weight: bold; border-radius:2px
}


















/******************************
         SPOILER TAGS
*******************************/

a[href="#s"] {
    padding: 0 2px;
    color: #FFF !important;
    cursor: text;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
}

a[href="#s"]:hover,
a[href="#s"]:active { color: #92B0DC !important; }
a[href="#s"]::after {
    content:attr(title);
    padding:0px 8px;
}
a[href="#s"]:hover::after,
a[href="#s"]:active::after { color: #FFF; }
a[href="#s"] { background:#2B5186 !important; }
a[href="#s"]::after { background:#2B5186;color:#2B5186; }



/******************************
         LINK FLAIR
*******************************/

.linkflair .linkflairlabel {
    height: 16px;
    padding: 0 15px 0 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    line-height: 16px;
    text-align: left;
    text-transform: capitalize;
    vertical-align: top;
    color: #202020;
    font-size:small;
}
/* Type 1 Diabetes */
.flair-t1,
.linkflair-t1 .linkflairlabel,
.linkflair.linkflair-t1 > .linkflairlabel {
    background-color: #9FC!important;
    border-color: #4B7!important;
}
/* Type 2 Diabetes */
.flair-t2,
.linkflair-t2 .linkflairlabel,
.linkflair.linkflair-t2 > .linkflairlabel {
    background-color: #C9F!important;
    border-color: #95E!important;
}
/* News */
.flair-news,
.linkflair-news .linkflairlabel,
.linkflair.linkflair-news > .linkflairlabel {
    background-color: #ddd!important;
    border-color: #202020!important;
}
/* Humor */
.flair-humor,
.linkflair-humor .linkflairlabel,
.linkflair.linkflair-humor > .linkflairlabel {
    background-color: #FC9!important;
    border-color: #E94!important;
}
/* Healthcare */
.flair-healthcare,
.linkflair-healthcare .linkflairlabel,
.linkflair.linkflair-healthcare > .linkflairlabel {
    background-color: #F99!important;
    border-color: #E44!important;
}
/*Discussion*/
.flair-discussion,
.linkflair-discussion .linkflairlabel,
.linkflair.linkflair-discussion > .linkflairlabel {
    background-color: #8eaed7 !important;
    border-color: #366097 !important;
}

/* Flair for Wiki Contributors */
.flair-wiki:before {
    width: 15px;
    height: 16px;
/*  content: url(%%medal2%%); */
    vertical-align:middle;
    display: inline-block;
    padding-right:2px;
}
.flair-wiki:hover:after {
    content: 'Wiki Contributor ';
    border-color: #1251A3 !important;
    padding:0 2px 0 3px;
    font-weight:bold;
    color: #1251A3 !important;
}

/* CREATE A MESSAGE TO ALERT USERS TO CATEGORIZE POSTS */
/* Link flair notification */
.flat-list.buttons .flairselectbtn { /* removes original message */
    font-size: 0;
    color: #FFF;
}
.flat-list.buttons a.flairselectbtn:before { /* no flair set message */
    content: "Please Click This To Categorize Your Post";
    padding: 0 4px;
    background-color: yellow;
    font-size: 10px;
    color: #000;
}
.linkflair .flat-list.buttons a.flairselectbtn:before { /* flair set message */
    content: "Flair Has Been Set, Thanks!";
    background: transparent;
    font-size: 10px;
    color: #CCC;
}



/******************************
         RES & NIGHTMODE
*******************************/

/*Never Ending Reddit*/
.neverEndingReddit {
    border: none;
}
.NERPageMarker{
    margin:2px 2px 2px 2px;
    border: 1px solid #3B679E !important;
    border-radius: 5px;
    background-color: #5686c3 !important;
    color: white !important;
}

/* NIGHTMODE */
.res-nightmode .toggle .option, .res-nightmode #sr-header-area a {
    color: black !important
}
.res-nightmode .side p { color: white !important}
.res-nightmode .leavemoderator-button span.option.active {
    color: #ddd !important
    }
.res-nightmode .leavemoderator-button span.option.active a {
    color: #bbb !important
}
/*NIGHTSUBMIT*/
.res-nightmode .side .morelink a {
    color: white !important;
    text-shadow: inherit
}
.res-nightmode .side a {
    color: #5686c3 !important;
    text-decoration: underline
}
.res-nightmode .side .usertext-body {
    background-color: black !important;
}
.res-nightmode .side p {
    color: white !important;
}
.res-nightmode .side a * {
    background-color: #202020 !important;
    text-decoration: underline
}
.res-nightmode .sidecontentbox a {
    color: #ddd !important
}
.res-nightmode .sidecontentbox {
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}
.res-nightmode .titlebox {
    background-color: black !important;
    color: black !important
}
.res-nightmode .side .usertext-body {
    background-color: black;
    border-radius: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 1px 2px  grey;
    -webkit-box-shadow: 1px 1px 2px grey !important;
}

.res-nightmode .flair-challenge {
    background-color: #B4D8FF !important;
    color: black!important;
}
.res-nightmode .flair { background-color: #BBB; }
.res-nightmode .flair-summer {
    background: #6600CC !important;
    border-color: #330066 !important;
    color: #FFFFFF!important;
}











/*****************************
******************************
************      ************
             WIKI
************      ************
******************************
*****************************/

.wiki-page .wiki-page-content {
    margin: 15px;
    margin-right: 15px;
}
.wiki-page .wiki-page-content .md.wiki h1,
.wiki-page .wiki-page-content .md.wiki h2,
.wiki-page .wiki-page-content .md.wiki h3,
.wiki-page .wiki-page-content .md.wiki h4,
.wiki-page .wiki-page-content .md.wiki h5,
.wiki-page .wiki-page-content .md.wiki h6 {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}











/*Easter Egg*/
.debuginfo .content:after {
    content: ".. have you checked your blood sugar lately?";
}


/* UNKNOWN */

.sitetable .id-t3_llyqt .expando th {
    text-align: center;
    background: #bbb
    }
.sitetable .id-t3_llyqt .expando table td {
    width: 107px;
    border: 1px solid #999
    }
.sitetable .id-t3_llyqt .expando h2 {
    color: black;
    margin-top: 30px
    }


.keyHighlight {
    background-color: transparent;
    outline: 0px solid;
}

label {
    background: orange !important;
/*    background: white; */
    width: 200px
}














.listing-page .sitetable,.search-page .sitetable,.top-page .menuarea .spacer {
    animation-name:fadein;
    animation-duration:.75s;
    animation-iteration-count:1;
    -webkit-animation-name:fadein;
    -webkit-animation-duration:.75s;
    -webkit-animation-iteration-count:1
}

@-webkit-keyframes fadein {
0% {
    opacity:0;
    transform:translateY(48px);
    -webkit-transform:translateY(48px)
}

100% {
    opacity:1;
    transform:translateY(0px);
    -webkit-transform:translateY(0px)
}
}

@-moz-keyframes fadein {
0% {
    opacity:0;
    transform:translateY(48px);
    -webkit-transform:translateY(48px)
}

100% {
    opacity:1;
    transform:translateY(0px);
    -webkit-transform:translateY(0px)
}
}

@-o-keyframes fadein {
0% {
    opacity:0;
    transform:translateY(48px);
    -webkit-transform:translateY(48px)
}

100% {
    opacity:1;
    transform:translateY(0px);
    -webkit-transform:translateY(0px)
}
}

@keyframes fadein {
0% {
    opacity:0;
    transform:translateY(48px);
    -webkit-transform:translateY(48px)
}

100% {
    opacity:1;
    transform:translateY(0px);
    -webkit-transform:translateY(0px)
}
}
